.logo {
  display: inline-flex;
  flex-direction: column;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 1000;
}

.first {
  /* font-weight: 400; */
  line-height: 0.8;
  letter-spacing: 6px;
}

.middle {
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 0.8;
}

.last {
  /* font-weight: 400; */
  line-height: 0.8;
  letter-spacing: -3px;
}

@media (min-width: 768px) {
  .first {
    /* font-weight: 400; */
    letter-spacing: 7px;
  }

  .middle {
    letter-spacing: 8px;
  }

  .last {
    /* font-weight: 400; */
    letter-spacing: -4px;
  }
}

@media (min-width: 1280px) {
  .first {
    /* font-weight: 400; */
    letter-spacing: 7px;
  }

  .middle {
    letter-spacing: 8px;
  }

  .last {
    /* font-weight: 400; */
    letter-spacing: -4px;
  }
}
