.logo {
  display: inline-flex;
  flex-direction: column;
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 1000;
}

.first {
  /* font-weight: 400; */
  line-height: 0.8;
  letter-spacing: 5px;
}

.middle {
  font-weight: 100;
  letter-spacing: 0.2em;
  line-height: 0.8;
}

.last {
  /* font-weight: 400; */
  line-height: 0.8;
  letter-spacing: -3px;
}

@media (min-width: 1280px) {
  .first {
    /* font-weight: 400; */
    letter-spacing: 7px;
  }

  .last {
    /* font-weight: 400; */
    letter-spacing: -4px;
  }
}
