.logo {
  display: inline-block;
  font-size: var(--fs-2xl);
  margin: 0;
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1;
  letter-spacing: -0.08em;
  white-space: nowrap;
}


@media (min-width: 768px) {

}
