.main {
  padding-inline: var(--space-xl);
  position: relative;
}

@media (min-width: 1280px) {
  .main {
    padding-inline: var(--layout-6xs);
  }
}

.footer {
  /* margin-top: var(--layout-2xl); */
  position: fixed;
  bottom: 128px;
  display: flex;
  flex-direction: column;
  font-weight: 1000;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--space-2xs);
  width: var(--layout-sm);
}
