.about {
  font-size: var(--fs-md);
  font-weight: 300;
  line-height: 1.2;
  margin-top: 96px;
}

.title {
  font-size: var(--fs-3xl);
  font-weight: 1000;
  letter-spacing: -0.04em;
  margin-bottom: 64px;
}
