.title {
  font-size: var(--fs-lg);
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.2;
  transition: opacity 0.3s ease;
}

.title:hover {
  opacity: 0.64;
}

.about {
  font-size: var(--fs-md);
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}
