.root {
  box-sizing: border-box;
  border: var(--border-width-sm) solid var(--palette-neutral-darkest);
  border-radius: var(--border-radius-2xs);
  min-width: var(--layout-3xs);
  width: 100%;
  max-width: var(--layout-xl);
  max-height: var(--space-3xl);
  height: 100%;
  padding: var(--space-sm);
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--palette-neutral-900);
  background-color: var(--palette-neutral-lightest);
  transition: border-color 0.2s ease-in-out;
  /* &:focus {
    border-color: var(--palette-neutral-darkest);
  } */
}

.root:placeholder {
  color: var(--palette-neutral-700);
}
