.root {
  box-sizing: border-box;
  border: var(--border-width-md) solid var(--palette-neutral-darkest);
  border-radius: var(--border-radius-2xs);
  width: 100%;
  max-height: var(--space-3xl);
  height: var(--button-height);
  padding: var(--space-sm);
  font-size: var(--font-size-lg);
  font-weight: 500;
  background-color: var(--palette-neutral-lightest);
  box-shadow: var(--shadow-brutal-sm);
  transition: transform 0.08s ease, box-shadow 0.08s ease,
    border-color 0.2s ease, background-color 0.2s ease;
  &:focus {
    border-color: var(--palette-neutral-darkest);
  }
}

.root::placeholder {
  color: var(--palette-neutral-700);
}

.root:focus {
  transform: translate(2px, 2px);
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  .root {
    background-color: var(--palette-neutral-900);
    border-color: var(--palette-neutral-400);
    color: var(--palette-neutral-100);

    &:focus {
      border-color: var(--palette-alert-info-500);
    }
  }

  .root::placeholder {
    color: var(--palette-neutral-400);
  }
}
