.title {
  font-size: var(--fs-5xl);
  font-family: var(--font-family-display);
  line-height: 1.2;
  margin-block-start: var(--space-none);
  margin-block-end: var(--space-md);
}

.episode {
  font-size: var(--fs-lg);
  line-height: 1.2;
}

.episodeTitle {
  font-size: var(--fs-lg);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 1000;
  font-family: var(--font-family-display);
}

.backLink {
  font-size: var(--fs-md);
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  text-decoration: underline;
  text-decoration-thickness: var(--border-width-md);
  text-underline-offset: var(--space-3xs);
  color: inherit;
  margin-block-start: var(--space-3xl);
}
