.logo {
  display: inline-flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin: 0;
}

.first {
  font-weight: 400;
  letter-spacing: 0.12em;
}

.last {
  font-weight: 400;
  line-height: 0.4;
  letter-spacing: -0.04em;
}
