.header {
  background: color-mix(in oklab, var(--surface-1) 70%, transparent);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* Safari support */
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border-1);
}

.headerContainer {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--space-xs);
  padding: 20px;
  padding-block: 22px;

  margin: 0 auto;
}

@media (min-width: 768px) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 20px;
    /* margin: auto; */
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background: color-mix(in oklab, var(--surface-1) 72%, transparent);
  }
}
