.header {
  background-color: rgba(255, 255, 255, 0.8); /* translucent */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* Safari support */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 8px 32px rgba(0, 0, 16px, 0.05); /* <--- soft edge */
}

.headerContainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  /* padding: 24px; */
  padding-block: 32px;

  margin: 0 auto;
}

@media (min-width: 768px) {
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 24px;
    /* margin: auto; */
  }
}
