.about {
  font-size: var(--fs-md);
  font-weight: 300;
  line-height: 1.2;
  margin-top: 96px;
}

.title {
  font-size: var(--fs-8xl);
  font-weight: 1000;
  letter-spacing: -0.04em;
  margin-bottom: 64px;
}

.body {
  max-width: 1280px;
  /* margin-block-start: 64px; */
  margin: var(--space-lg);
}

@media (min-width: 1280px) {
  .body {
    margin: var(--space-lg) var(--layout-6xs);
  }
}
