.nav {
  font-size: 20px;
  display: flex;
  gap: 16px;
  color: #0a3f70;
  font-weight: 500;
}

/* .active {
  color: #1b1b1b;
} */

.link {
  opacity: 0.64;
}

@media (prefers-color-scheme: dark) {
  .nav {
    color: var(--palette-neutral-100);
  }
}
