.card {
  margin-bottom: 2rem;
  border-radius: 8px;
}

.topper {
  display: flex;
  gap: 2rem;
  align-items: end;
  justify-content: space-between;
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
}

.title h2 {
  font-size: var(--fs-lg);
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  transition: font-size 0.3s ease;
}

.title h3 {
  font-weight: 400;
  font-size: var(--fs-md);
  color: var(--palette-neutral-700);
  margin: 0;
  white-space: nowrap;
  transition: font-size 0.3s ease;
}

.image {
  height: auto;
  width: 100%;
  max-width: 240px;
  transition: max-width 0.3s ease;
  @media (max-width: 600px) {
    width: 100%;
    max-width: 128px;
  }
}

.aca {
  height: auto;
  width: 50%;
  max-width: 128px;
  transition: max-width 0.3s ease;
  @media (max-width: 600px) {
    width: 100%;
    max-width: 64px;
  }
}

.ibm {
  height: 4rem;
  width: 8rem;
  max-width: 100%;
  transition: height 0.3s ease, width 0.3s ease;
  @media (max-width: 600px) {
    height: 2rem;
    width: 4rem;
  }
}

.content {
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: var(--space-md);
  font-size: var(--fs-md);
  transition: font-size 0.3s ease;
}

.achievements {
  margin-top: 1rem;
  font-size: var(--fs-md);
  transition: font-size 0.3s ease;
}

.achievements h4 {
  font-weight: bold;
}

.achievements li {
  font-size: 16px;
  list-style-type: disc;
}

@media (prefers-color-scheme: dark) {
  .title h3 {
    color: var(--palette-neutral-400);
  }

  .content > p {
    color: var(--palette-neutral-100);
  }
}
