.container {
  display: grid;
  gap: var(--space-xs);
}

.status {
  font-size: var(--fs-sm);
  margin: 0;
  color: var(--palette-neutral-600);
}

@media (prefers-color-scheme: dark) {
  .status {
    color: var(--palette-neutral-400);
  }
}
