.header {
  /* background-color: rgba(255, 255, 255, 0.8); translucent */
  background-color: var(--palette-neutral-100);
  opacity: 0.9;
  backdrop-filter: blur(var(--space-lg));
  -webkit-backdrop-filter: blur(var(--space-lg)); /* Safari support */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 var(--space-xs) var(--space-xl) rgba(0, 0, 16px, 0.05); /* <--- soft edge */
}

.headerContainer {
  width: 100%;
  /* max-width: 1280px; */

  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  /* padding: var(--space-lg); */
  /* margin: 0 auto; */
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: var(--palette-neutral-1000);
  }
}
