.section {
  margin-block-start: 48px;
}

.title {
  font-size: var(--fs-3xl);
  font-weight: 1000;
  letter-spacing: -0.04em;
  margin: 0px;
  line-height: 1.2;
}

.subtitle {
  font-size: var(--fs-lg);
  font-weight: 360;
  margin: var(--space-sm) 0 0;
  max-width: 36ch;
}

.category {
  font-size: var(--fs-lg);
  font-weight: 1000;
  letter-spacing: -0.04em;
  margin: 0px;
  line-height: 1.2;
  text-transform: uppercase;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.item:first-child {
  margin-block-start: var(--space-lg);
}

.link {
  display: inline-flex;
  align-items: end;
  gap: var(--space-xs);
  font-size: var(--fs-xl);
  font-weight: 380;
  margin: 0px;
}

.link:hover {
  opacity: 0.64;
}

@media (max-width: 1280px) {
  .linkContainer:hover {
    opacity: 0.64;
  }

  .linkContainer:hover .arrow {
    transform: translateX(16px);
  }

  .linkContainer {
    display: grid;
    grid-template-columns: 1fr 224px;
    align-items: start;
    gap: 16px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
